<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                We’re pleased to announce {{ site.title }}.  {{ site.title }} is a unique blend
                of a retreat and conference which makes for an amazing learning and hacking environment
                over for a weekend (from Friday evening to Monday morning).
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Speak at CampJS</h3>
            <p>
              Being a speaker at CampJS is a lot of fun.  It's also quite different to being a
              speaker at another event.  More than other events, CampJS is a place where we
              recognise and embrace that everyone who attends has something valuable to offer
              and is capable of teaching.
            </p>
            <p>
              If you have travelled the world and spoken at many
              conferences you will be made welcome.  If you have occassionally spoken at your
              local meetup group, you will also be made welcome.  If you've never spoken before
              but have something you'd like to share then you'll also be made welcome.
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available around Australia and welcome international submissions as well.
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
        </p>
        <p>
        For more information, please see our full
        <a href="http://next.campjs.com/about/code-of-conduct/">Code of Conduct</a>
        </p>
    </div>
</section>
