{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just JavaScript-related talks. There have been
        sessions covering a wide range of topics supporting JS developers and DevOps
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>
</div>
{% endblock %}

